.containerClock{
   
}

.clock {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: 2px solid rgba(255, 255, 255, 0.507);
    border-radius: 1rem;
    font-family: SanFrancisco Apple;
    color: rgba(0, 0, 0, 0.578);
    backdrop-filter: blur(3px);
    flex: 1;
    box-shadow: 0px 17px 15px -3px rgba(0,0,0,0.1);
    
}
.hours {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    font-size: 2rem;
    border-bottom: 2px solid rgba(255, 255, 255, 0.651);
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.507);
    
}
.minutes {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
    font-size: 2rem;
    border-left: 2px solid rgba(255, 255, 255, 0.507);
    border-bottom: 2px solid rgba(255, 255, 255, 0.507);
    border-right: 2px solid rgba(255, 255, 255, 0.507);
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.507);
    
}
.secondes {
    display: flex;
    justify-content: center;
    align-items: center;
width: 33%;
font-size: 2rem;
border-bottom: 2px solid rgba(255, 255, 255, 0.507);
-webkit-text-stroke: 1px rgba(255, 255, 255, 0.507);
}
.date {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    font-family: SanFrancisco Apple;
    font-size: 1.5rem;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.507);
    
} 
