.clock {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 30%;
    border: 0.2rem solid black;
    border-radius: 1rem;
    font-family: digit;
    color: black;
    backdrop-filter: blur(3px);
    
}
.hours {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    font-size: 4rem;
    border-bottom: 0.2rem solid black;
    
}
.minutes {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
    font-size: 4rem;
    border-left: 0.2rem solid black;
    border-bottom: 0.2rem solid black;
    border-right: 0.2rem solid black;
    
}
.secondes {
    display: flex;
    justify-content: center;
    align-items: center;
width: 33%;
font-size: 4rem;
border-bottom: 0.2rem solid black;
}
.date {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    font-family: SanFrancisco Apple;
    font-size: 1.5rem;
    
} 
