.main {
    &__dashboardContainer {
        box-sizing: border-box;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.274);
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
        //transition:  1s ease-in-out;
        height: 65vh;
        
        width: 100vw;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        padding-bottom: calc(1em + env(safe-area-inset-bottom));
        bottom: env(safe-area-inset-bottom, 6rem);
        left: 0;
        padding: 0.4rem;
        //display: flex;
        //flex-direction: row;
        //flex-wrap: wrap;
        //gap: 0.5rem;
   
  //overflow: hidden;

        
        
    
    
    }
    
    &__buttonDash {
        position: absolute;
        background-color: rgba(255, 255, 255, 0.274);
        backdrop-filter: blur(4px);
        margin: 0;
        height: 2rem;
        width: 5rem;
        top: -32px;
        left: 50%;
        transform: translateX(-50%) ;
        border: none;
        background-image: url(../../assets/icons/upArrow.svg);
        background-size: cover;
        border-top-right-radius: 1rem;
        border-top-left-radius: 1rem;
        padding: 0;
    
    }
    
    &__buttonDashOpen {
        background-image: url(../../assets/icons/downArrow.svg);
    }
    
   
}



   










.main__dashboardContainer.closed {
/* Styles pour la position fermée */
bottom: -55vh;
transition:  1s ease-in-out;

}

.main__dashboardContainer.open {
/* Styles pour la position ouverte */
bottom: 0;
transition:  1s ease-in-out;


}
//::-webkit-scrollbar {
//    display: none;
//}

.scroll {
    overflow-y: scroll;
    display: grid;
    gap: 5rem;
    grid-template-columns: repeat(1, 1fr);
    height: 100%;
    width: 100%;

}
.scroll::-webkit-scrollbar {
    display: none;
  }